.carousel-item img {
  height: 800px;
  width: 10%;
}

.card img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-container {
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.image-container:hover {
  transform: scale(1.1);
}

/* Custom list items styling */
.custom-list li {
  position: relative;
  padding-left: 20px; /* Adjust padding for bullet spacing */
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 10px; /* Size of the square bullet */
  height: 10px; /* Size of the square bullet */
  background-color: #081fcb; /* Bullet color */
  transition: all 0.3s ease;
}

.custom-list li:hover::before {
  border-radius: 50%; /* Turn the square into a circle on hover */
  background-color: #06086c; /* Change bullet color on hover */
}

.custom-list a {
  color: #100a77; /* Make text black */
  text-decoration: none; /* Remove underline */
}

.custom-list a:hover {
  color: #0315b6; /* Optional: Change text color on hover */
}

/* Social icons styling */
.social-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Makes the box a square with slightly rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  background-color: #007bff; /* Blue color on hover */
  color: #fff; /* White icon color on hover */
}

/* Underline styling for headings */
.underline {
  position: relative;
  padding-bottom: 20px;
}

.underline::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.align-start {
  align-items: start;
}

.blue-icon {
  color: #081fcb;
}

.blue-bullet a {
  color: inherit;
  text-decoration: none;
}


.icon-spacing {
  margin-right: 15px; /* Adjust the space as needed */
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: -50px; /* Start position (hidden) */
  transition: right 0.3s ease-in-out; /* Animation for sliding in */
  width: 40px;
  height: 40px;
  background-color: #0C173E;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}

.scroll-to-top.visible {
  right: 20px; /* End position (visible) */
  opacity: 1;
  margin-bottom: 45px;
}

.scroll-to-top i {
  margin: 0;
}

.scroll-to-top i:first-child {
  margin-bottom: -5px; /* Adjust spacing between arrows */
}

.scroll-to-top:hover {
  background-color: #0265b0; /* Change background color on hover */
  transform: scale(1.1); /* Slightly increase size on hover */
}
.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 50%;
  margin: auto; /* Center the circle icon horizontally */
  transition: transform 0.3s; /* Add transition for smooth flipping */
}

.circle-icon i {
  color: white;
  display: flex; /* Ensure icon is a flex item */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  width: 100%; /* Ensure icon takes full width of circle */
  height: 100%; /* Ensure icon takes full height of circle */
}

.card-body:hover .circle-icon {
  transform: rotateX(180deg); /* Flip the circle icon on hover */
}

.programs-container {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: rgb(0, 0, 0); /* Default text color */
}

.programs-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/network.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Reduces opacity of the background image */
  z-index: -1; /* Places the pseudo-element behind the text */
}

.content {
  padding: 20px;
  border-radius: 5px;
  position: relative; /* Ensure content is above the background image */
  z-index: 1; /* Places the content above the pseudo-element */
}

.programs-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #000; /* Ensures h1 is black */
}

nav a {
  color: #000; /* Ensures links are black */
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(18, 18, 151); /* Blue color on hover */
}

nav span {
  color: rgb(13, 93, 212); /* Blue color for Program text */
}

.publication-container {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: rgb(0, 0, 0); /* Default text color */
}

.publication-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/network.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Reduces opacity of the background image */
  z-index: -1; /* Places the pseudo-element behind the text */
}
.publication-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #000; /* Ensures h1 is black */
}
.card {
  margin: 3rem;
  width: 23rem;
  height: 30rem;
  overflow: hidden;
  
}
.gallery-card {
  margin: 2rem;
  width: 25rem;
  height: 18rem;
  overflow: hidden;
  
}
.services-card {
  margin: 2rem;
}
.services-card .card-body{
  width: 25rem;
  height: 25rem;
}
.services-card h5{
  font-size: 24px;
  padding: 2rem;

}
.btn-read-more {
  align-self: flex-start; /* Align the button to the start */
}


.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.5);
}
.card-date {
  font-size: 0.9em;
  color: #083fb4;
  margin-bottom:1rem;

}

.card-body {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-text a {
  color: black;
  font-size: 1.5em;
  margin-top: 20px;
  text-decoration: none;
}

.card-text a:hover {
  color: rgb(46, 46, 229); /* Blue color on hover */

}
.aboutus-container {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: rgb(0, 0, 0); /* Default text color */
}

.aboutus-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/network.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Reduces opacity of the background image */
  z-index: -1; /* Places the pseudo-element behind the text */
}

.content {
  padding: 20px;
  border-radius: 5px;
  position: relative; /* Ensure content is above the background image */
  z-index: 1; /* Places the content above the pseudo-element */
}

.About-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #000; /* Ensures h1 is black */
}

nav a {
  color: #000; /* Ensures links are black */
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(18, 18, 151); /* Blue color on hover */
}

nav span {
  color: rgb(13, 93, 212); /* Blue color for Program text */
}


.Careers-container {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: rgb(0, 0, 0); /* Default text color */
}

.Careers-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/network.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Reduces opacity of the background image */
  z-index: -1; /* Places the pseudo-element behind the text */
}

.content {
  padding: 20px;
  border-radius: 5px;
  position: relative; /* Ensure content is above the background image */
  z-index: 1; /* Places the content above the pseudo-element */
}

.Careers-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #000; /* Ensures h1 is black */
}

nav a {
  color: #000; /* Ensures links are black */
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(18, 18, 151); /* Blue color on hover */
}

nav span {
  color: rgb(13, 93, 212); /* Blue color for Program text */
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}

.all {
  background-color: #007bff;
}

.rehabilitation-of-ponds {
  background-color: #ff9800;
}

.covid-awareness-program {
  background-color: #ff69b4;
}

.indreni-rural-development-center-nepal-irdc {
  background-color: #009688;
}

.women-empowerment-programs {
  background-color: #8bc34a;
}

.Gallery-container {
  position: relative;
  text-align: center;
  padding: 100px 0;
  color: rgb(0, 0, 0); /* Default text color */
}

.Gallery-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/network.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Reduces opacity of the background image */
  z-index: -1; /* Places the pseudo-element behind the text */
}

.content {
  padding: 20px;
  border-radius: 5px;
  position: relative; /* Ensure content is above the background image */
  z-index: 1; /* Places the content above the pseudo-element */
}

.Gallery-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #000; /* Ensures h1 is black */
}

nav a {
  color: #000; /* Ensures links are black */
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(18, 18, 151); /* Blue color on hover */
}

nav span {
  color: rgb(13, 93, 212); /* Blue color for Program text */
}
.btn-custom {
  border-radius: 18px; /* Adjust the radius as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}












