.carousel-item img{
  height: 800px;
  width: 10%;
  
}
.card img{
 
  aspect-ratio: 1/1;
  object-fit: contain;
  
}

.image-container {
  overflow: hidden;
  transition: transform .2s ease-in-out;
}

.image-container:hover {
  transform: scale(1.1);
}




